
.p-menubar{
    border-color: forestgreen;
    color: forestgreen;
    margin-left:0;
    margin-right:0
}

.p-menubar:hover{
    /*opacity: 0.9;*/
    color: forestgreen;
}

 .p-menuitem-text .p-menuitem-text:hover{
    color: forestgreen;
     text-decoration: underline;
     text-decoration-color: forestgreen;
    opacity: 0.5;
}

/*List element.*/
.p-menu-list{
    color: forestgreen;
}

.p-menu-list:hover{
    text-decoration: underline;
    text-decoration-color: forestgreen;
}
/*Menuitem element.*/
.p-menuitem	{
    color: forestgreen;
}

.p-menuitem:hover{
    text-decoration: underline;
    text-decoration-color: forestgreen;
}
/*Label of a menuitem.*/
.p-menuitem-text{
    color: forestgreen!important;
    font-weight: bolder;
}

.p-menuitem-text:hover{
    text-decoration: underline;
    text-decoration-color: forestgreen;
}
/*Icon of a menuitem.*/
.p-menuitem-icon	{
    color: forestgreen !important;
}
/*Arrow icon of a submenu.*/
.p-submenu-icon	{
    color: white;
}

.p-button-text{
    color:white;
}